name: CI-CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Efetuar o login no docker hub
      - name: Docker Login
        uses: docker/login-action@v3.0.0
        with:
          username: ${{secrets.DOCKERHUB_USER}}
          password: ${{secrets.DOCKERHUB_PWD}}
     
      - name: Construir a imagem de container
        run: 
      - name: enviar a imagem para o docker registry
        run: echo "executar o docker push"
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
    - name: autentica na AWS
      run: echo "autenticar na AWS"
    - name: configurar o kubeconfig
      run: echo "configurar o kubeconfig"
    - name: aplicar o deploy
      run: echo "executar o kubectl apply"
    
       
